<header>
	<nav class="top-bar topbar-responsive">
		<div class="top-bar-title">
			<span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
				<button class="menu-icon" type="button" data-toggle></button>
			</span>
			<a class="topbar-responsive-logo" href="{{ base_path }}">
				<strong>Barber Shop</strong>
			</a>
		</div>
		<div id="topbar-responsive" class="topbar-responsive-links">
			<div class="top-bar-right">
				<ul class="menu simple vertical medium-horizontal">
					<li>
						<a href="{{ base_path }}">Home</a>
					</li>
					<li>
						<a href="{{ base_path }}about-us">About</a>
					</li>
					<li>
						<a href="{{ base_path }}booking">Booking</a>
					</li>
					{# <li>
											<button type="button" class="button hollow topbar-responsive-button">Categories</button>
										</li> #}
				</ul>
			</div>
		</div>
	</nav>

	{# <section class="header-title-container">
			<section class="header-title-container-title">
				<h1 class="header-title-container-title-main">Barner Shop</h1>
				{% set url = url('<current>') %}
				{% if 'about-us' in url|render|render %}
					<h4 class="header-title-container-title-sub">About us</h4>
				{% else %}
					<h4 class="header-title-container-title-sub">The Cut - The Beard - The Shave</h4>
				{% endif %}
			</section>
		</section> #}

	<div class="hero-section">
		<div class="hero-section-text">
			<h1 class="hero-section-text-title-main">Barner Shop</h1>
			{% set url = url('<current>') %}
			{% if 'about-us' in url|render|render %}
				<h4 class="hero-section-text-title-sub">About us</h4>
			{% else %}
				<h4 class="hero-section-text-title-sub">The Cut - The Beard - The Shave</h4>
			{% endif %}
		</div>
	</div>

	{# Header Contente #}
	<section>
		<h2>Test: start</h2>
		{{ page.header }}
		<h2>Test: end</h2>
	</section>


</header>


<main class="main">

	<section class="main-time">
		{% set today = "now"|date("l") %}
		<ul>
			<li>
				<h2>Opening times</h2>
			</li>
			<li class={{ today == "Monday" ? "main-time-mark" : "" }}>Monday: close</li>
			<li class={{ today == "Tuesday" ? "main-time-mark" : "" }}>Tuesday: 8:00am - 8:00pm</li>
			<li class={{ today == "Wednesday" ? "main-time-mark" : "" }}>Wednesday: 8:00am - 8:00pm</li>
			<li class={{ today == "Thursday" ? "main-time-mark" : "" }}>Thursday: 8:00am - 8:00pm</li>
			<li class={{ today == "Friday" ? "main-time-mark" : "" }}>Friday: 8:00am - 8:00pm</li>
			<li class={{ today == "Saturday" ? "main-time-mark" : "" }}>Saturday: 8:00am - 8:00pm</li>
			<li class={{ today == "Sunday" ? "main-time-mark" : "" }}>Sunday: 8:00am - 6:00pm</li>
		</ul>
	</section>

	<section class="main-content">
		{{ page.content }}
	</section>

</main>

<footer class="responsive-blog-footer">
	{{ page.footer }}
	<div class="row">
		<div class="medium-8 columns small-order-2 medium-order-1 about-container">
			<div class="row">
				<div class="hide-for-small-only medium-4 columns about-section">
					<img src="{{ base_path ~ directory }}/images/barber-shop.jpg">
				</div>
				<div class="medium-8 columns about-section">
					<h4>About Barber Shop</h4>
					<p>I am a person whose occupation is mainly to cut, dress, groom, style and shave men's and boys' hair or beards</p>
					<a href="{{ base_path }}/about-us">Read More</a>
				</div>
			</div>
		</div>
		<div class="small-12 medium-4 columns small-order-1 medium-order-2 mailing-container">
			<h4 class="mailing-list">Join my mailing list</h4>
			<input type="text" placeholder="Email Address">
			<a class="button expanded subscribe-button" href="#">Subscribe Now</a>
		</div>
	</div>
	<div class="row tag-search">
		<div class="columns">
			<h4>Search by Tag</h4>
			<ul class="menu simple tag-section">
				<li>
					<a href="">barber</a>
				</li>
				<li>
					<a href="">hair</a>
				</li>
				<li>
					<a href="">cut</a>
				</li>
				<li>
					<a href="">haircut</a>
				</li>
				<li>
					<a href="">skin</a>
				</li>
				<li>
					<a href="">style</a>
				</li>
				<li>
					<a href="">top</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row columns flex-container align-justify">
		<p>&copy;
			{{ "now"|date("Y") }}
			- All rights reserved</p>
		<div class="up-arrow">
			<a href="#top">
				<i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</footer>
