<header class="portfolio-hero-header">
	<img class="portfolio-hero-header-logo" src="{{ base_path ~ directory }}/images/barber-shop.jpg"/>
	<h1 class="portfolio-hero-header-h1">Barber Shop</h1>
	<ul class="portfolio-hero-header-description">
		<li>The Cut</li>
		<li>The Beard</li>
		<li>The Shave</li>
	</ul>
	<ul class="portfolio-hero-header-menu">
		<li>
			<a class="button primary" href="/barber_shop/web/">Home</a>
		</li>
		<li>
			<a class="button primary" href="/barber_shop/web/about-us">About Us</a>
		</li>
		<li>
			<a class="button primary" href="#">Price List</a>
		</li>
	</ul>
	{{ page.header }}
</header>


<main class="main">
	<section class="content">
		{{ page.content }}
	</section>
</main>

<footer class="responsive-blog-footer">
    {{ page.footer }}
	<div class="row">
		<div class="medium-8 columns small-order-2 medium-order-1 about-container">
			<div class="row">
				<div class="hide-for-small-only medium-4 columns about-section">
					<img src="{{ base_path ~ directory }}/images/barber-shop.jpg">
				</div>
				<div class="medium-8 columns about-section">
					<h4>About Barber Shop</h4>
					<p>I am a person whose occupation is mainly to cut, dress, groom, style and shave men's and boys' hair or beards</p>
					<a href="{{ base_path ~ directory }}/about-us">Read More</a>
				</div>
			</div>
		</div>
		<div class="small-12 medium-4 columns small-order-1 medium-order-2 mailing-container">
			<h4 class="mailing-list">Join my mailing list</h4>
			<input type="text" placeholder="Email Address">
			<a class="button expanded subscribe-button" href="#">Subscribe Now</a>
		</div>
	</div>
	<div class="row tag-search">
		<div class="columns">
			<h4>Search by Tag</h4>
			<ul class="menu simple tag-section">
				<li>
					<a href="">barber</a>
				</li>
				<li>
					<a href="">hair</a>
				</li>
				<li>
					<a href="">cut</a>
				</li>
				<li>
					<a href="">haircut</a>
				</li>
				<li>
					<a href="">skin</a>
				</li>
				<li>
					<a href="">style</a>
				</li>
				<li>
					<a href="">top</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row columns flex-container align-justify">
		<p>&copy; {{ "now"|date("Y") }} - All rights reserved</p>
		<div class="up-arrow">
			<a href="#top">
				<i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</footer>
